form{
    width:70%;
    text-align:center;
    margin:auto;
    background-color:#DDD;
    padding:0.5em;
    border:thin dashed #900;
    border-radius:0.5em;
    margin-top:1em;
}
label{
    width:150px;
    display:inline-block;
    text-align:right;
}
.auto{
width:auto;
}
